body {
	background: rgb(132, 168, 186);
	background: linear-gradient(180deg, rgba(132, 168, 186, 1) 56%, rgba(255, 255, 255, 1) 100%);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 100vh;
}
h1 {
	font-size: 30px;
	text-align: center;
	color: rgb(49, 76, 100);
	border-radius: 8%;
}

.title {
	margin-top: 50px;
}

.image {
	width: 400px;
	height: 300px;
	margin-top: 40px;
	border-radius: 40%;
}

p {
	margin-top: 40px;
	text-align: center;
}

.lista-clubes li {
	font-size: 25px;
	list-style: none;
}

.lista-clubes {
	margin-top: 60px;
}
